.calendar{
  margin: 0 auto;
  width: 250px;
  border: 1px solid #aeaeae;
  border-radius: .3rem;
}

.calendar__header{
  padding-top: 6px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #aeaeae;
}

.calendar__icons{
  display: flex;
  justify-content: center;
  gap: 14px;
  align-items: center;
  font-weight: 700;
}

.calendar__icons svg{
  opacity: .2;
}

.calendar__year{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
}

.calendar__year p{
  display: flex;
  align-items: center;
}

.calendar__year p svg{
  opacity: .2;
}

.calendar__week_days{
  display: flex;
  list-style: none;
  gap: 12px;
  justify-content: center;
  padding: 10px;
  font-size: 14px;
}

.calendar__body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  font-size: 13px;
  margin: 10px 0;
}

.calendar__body li{
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.calendar__body li:hover{
  background-color: whitesmoke;
}

.calendar__icon{
  background-color: transparent !important;
  border: none;
}